@import url("./components.css");
@import url("./markdown.css");
@import url("./code.css");

::selection {
	color: white;
	background-color: grey;
}

::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

::-webkit-scrollbar-track {
	background: black;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

body {
	margin: 0px;
}

header {
	padding: 0.5rem;
	background-color: black;
}
